*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn-delete,.btn-update{
    width: 4rem;
    height: 2rem;
}
body{
    background-color:rgba(4, 143, 161, 0.584);
    color:#2a06f7;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.first{
    width:100%;
    background-color:rgba(104, 212, 140, 0.591);
    height:auto;
    margin: auto;
    justify-content: space-around;
    padding-bottom: 2rem;
    padding-top: 1rem;
}
.title{
    background-color: rgba(185, 255, 205, 0.742);
    border: 4px solid #6230ecc1;
    text-align: center;
    width: 90%;
    margin: auto;
}

.text{
    padding: 0.75rem 1rem;
    font-size: 1.25rem;
    color: 1c2042;
    margin: auto;
    border-radius: 5px;
    border:none;
}

.btn{
    padding: 0.75rem 1rem;
    font-size: 1.25rem;
    cursor: pointer;
    background-color: #372c6b;
    color: bisque;
    border: none;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

}
.buttons{
    text-align: center;
    margin-top: 3rem;
}
.buttons1{
    text-align: center;
    margin-top: .5rem;
}

.todo-list-container{
    width: 18rem;
    list-style: none;
    padding: 2rem;
    border: 2px solid #1c2042;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 5px;
}
.form-item{
    gap:1rem;

}
.btn{
    margin-top: 1rem;
    width: 18rem;
    margin: auto;
}
.link{
    margin-top: 3rem;
}

