@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
    outline: none;
  }
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  html {
    font-size: 16px;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:darkblue;

  }
.main{
  background-color: skyblue;
  width:70%;
  height: auto;
  text-align: center;
  padding-bottom: 1rem;
}
.balance,.income,.expense{
  margin: auto;
}
  .balance-container,.income-container,.expense-container{
    display: flex;
    gap:2rem;
  }
  .input-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .transaction,.input-amount,.button{
    padding: 0.5rem;
    border-radius: 5px;
    border:none;
    width: 80%;
    margin: auto;
  }

  .rest{
    margin-top: 2rem;
    width: 80%;
    padding: 0.5rem;
    background-color: #03606c;
    border-radius: 5px;
    border: none;
  }